@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido al sistema de control</h1>
    <p>Este sistema esta diseñado para el control tanto de entrega de documentos como de los movimientos que se estan ingresando</p>
</div>
